[DEFAULT]
input_directory = ./Darwin-SFL-101/train
output_directory = ./Darwin-SFL-101/output/crf_unary
specifying_files = True
n_jobs = 1
sumatra = True
train_ratio = .1
reason = Probando Darwin unary landsat
tag = unary-darwin
image_extension = TIF

[PREPROCESSING]
whiten = False
trim = False
new_shape = (400, 400)
rotate = False
flip = False
normalize = False
with_std = False
split = True
ndvi = False

[CLASSIFIER]
load = True
test = False
save = False
apply = True
prediction_masks = True
max_sample_size = .05
type = unary
pca_sample_size = .05

[POSTPROCESSING]
retile = True
retile_ref_directory = ./Darwin-SFL-101/train
compress = false