[DEFAULT]
input_directory = ./Darwin-SFL-101/test_tiles/
output_directory = ./Darwin-SFL-101/output/test_tiles/
specifying_files = False
n_jobs = 1
sumatra = False
train_ratio = .1
reason = Probando Darwin unary landsat
tag = unary-darwin
image_extension = tif

[PREPROCESSING]
whiten = False
trim = True
new_shape = (400, 400)
rotate = False
flip = False
normalize = False
with_std = False
split = False
ndvi = False

[CLASSIFIER]
load = True
test = False
save = False
apply = True
prediction_masks = True
max_sample_size = .2
type = unary
pca_sample_size = .2

[POSTPROCESSING]
retile = True
retile_ref_directory = ./Darwin-SFL-101/train
compress = false