[DEFAULT]
input_directory = ./Darwin-SFL-101/landsat_data/
output_directory = ./Darwin-SFL-101/test/
n_jobs = 1
specifying_files = False
sumatra = False
train_ratio = 1
reason = 'Probando'
image_extension = TIF

[PREPROCESSING]
whiten = False
trim = True
new_shape = (400, 400)
rotate = False
flip = False
normalize = False
with_std = False
split = False
ndvi = False