[DEFAULT]
input_directory = ./Darwin-SFL-101/output/landsat/crf_unary
output_directory = ./Darwin-SFL-101/output/landsat/crf_unary_retiled
specifying_files = False
n_jobs = 1
sumatra = True
train_ratio = .1
reason = 'Retiling'

[POSTPROCESSING]
retile = True
retile_ref_directory = ./Darwin-SFL-101/train/landsat
compress = false